/* Default resets */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Root */
:root{
    --clr-pink:#f8d7d8;
    --clr-black:#000;
    --clr-white:#fff;
}