/* Default resets */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: roboto,sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
}

/* Root */
:root{
    --clr-pink:#f8d7d8;
    --clr-black:#000;
    --clr-white:#fff;
    --transition: all 0.5s ease-in-out;
}

/* Fonts */
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
}

